

.body{
    display: inline-block; 
    margin-right: 10px; 
    max-width: 350px; /* Set the maximum width for the text container */
    display: inline-block; 
    margin-right: 10px; 

    .highlight-text{
        background: orange;
    }
    .colored-text{
        color: red;
    }
    
    .underline{
        text-decoration: underline;
    }
}