

.body{
    margin-left: auto;
    margin-right: auto; 
    width: 350px; /* Set the maximum width for the text container */
    text-align: left;

    .highlight-text{
        background: orange;
    }
    .colored-text{
        color: red;
    }
    
    .underline{
        text-decoration: underline;
    }
}