

.body{
    /*display: inline-block; */
    margin-right: auto; 
    width: 350px; /* Set the maximum width for the text container */
    display: inline-block; 
    margin-left: auto; 
    text-align: center;

    .highlight-text{
        background: orange;
    }
    .colored-text{
        color: red;
    }
    
    .underline{
        text-decoration: underline;
    }
}